*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(bg.jpg);
	background-position: center;
	background-size: cover;
}
.head{
	color: #fff;
	text-align: center;
	margin-top: 20%;
	font-size: 3em;
	z-index: 100;
}
.txt{
	color: white;
	font-size: 1.2em;
	text-align: center;
	margin-top: 20%;
}
.btn{
	height: 50px;
	width: 100px;
	position: absolute;
	right: 32%;
	margin-top: 5%;
	border: 2px solid white;
	background: transparent;
	backdrop-filter: blur(5px);
	color: #fff;
	font-size: 1em;
}
.p{
	font-size: 2em;
	color: white;
	position: absolute;
	top: 60%;
	left: 30%;
}